requests>=2.32.0,<3
soundfile>=0.13.0,<0.14
librosa>=0.11.0,<0.12
webrtcvad>=2.0.10,<3
jiwer>=4.0.0,<5
datasets>=3.6.0,<4
codecarbon>=3.2.0,<4
PyYAML>=6.0.2,<7
huggingface-hub>=1.0.0,<2
numpy>=2.0.0,<3
num2words>=0.5.14,<0.6
mistral_common[audio]>=1.9.0,<2
transformers>=5.2.0,<6
av>=17.0.0,<18
nvidia-ml-py>=13.0.0,<14
